
@media (max-width: 768px) {
  .header-menu-nav__link{
    font-size: 15px;
  }
  .header-menu-nav__list {
    display: none;
    padding: 8px 0;
    text-align: left;
  }
  .oftenQuestions-panelGroup__title {
    padding-left: 20px !important;
  }
  .oftenQuestions-panelGroup__box1{
    max-width: 700px;
    width: 100%;
  }
  .videos .owl-item img{
    width: 100%;
  }
  .advantage .owl-carousel .owl-nav .owl-prev{
    left: -20px;
  }
  .advantage .owl-carousel .owl-nav .owl-next{
    right: -20px;
  }
}